manifest {
  description = 'Nextflow workflow for Battenberg to detect subclonality and copy number in matched NGS data'
  author = 'Lukas Leiendecker'
}


profiles {

	    standard {
        	process.executor = 'local'
          singularity.enabled = false
          docker.enabled = true
          process.maxForks = 3
        }

      sge {
			   process.executor = 'sge'
			   process.penv = 'smp'
			   process.queue = 'public.q'
    	}

 		slurm {
    		process.executor = 'slurm'
    		process.clusterOptions = '--qos=medium'
    		process.cpus = '28'
  		}

}

process {

    errorStrategy = 'retry'
    maxRetries = 3

    withName:runCGPWGS {
        container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.0.0'
    }
}
singularity {
    enabled = true
}

timeline {
    enabled = true
}
